*.swp
.DS_Store
input_cache_brenda/
input_cache_mnx/
input_cache/
cache/
metaxime/input_cache/
metaxime/cache/
input_cache_mnx.tar.xz
input_cache_branda.tar.xz
__pycache__/
component_contribution_legacy/__pycache__/
component_contribution_legacy/data/
license.cxl
docker_install_marvin.txt
marvin_linux_20.9.deb
.pypirc
.pytest_cache
package.json
package-lock.json
node_modules
.ipynb_checkpoints/
