*.swp
mx-results/
.DS_Store
metaxime/input_cache/
metaxime/cache/
__pycache__/
.pypirc
.pytest_cache
package.json
package-lock.json
node_modules
.ipynb_checkpoints/
docker_files/rp2/license.cxl
docker_files/rp2/marvin_linux_20.9.deb
html/js/jsme
nextflow/work/
nextflow/results/
nextflow/input/

