git
####### RDkit #######
ca-certificates
build-essential
cmake
wget
python3.8
python3.8-dev
libboost-dev
libboost-iostreams-dev
libboost-python-dev
libboost-regex-dev
libboost-serialization-dev
libboost-system-dev
libboost-thread-dev
libcairo2-dev
libeigen3-dev
libboost-atomic1.67.0
libboost-chrono1.67.0
libboost-date-time1.67.0
libboost-iostreams1.67.0
libboost-python1.67.0
libboost-regex1.67.0
libboost-serialization1.67.0
libboost-system1.67.0
libboost-thread1.67.0
python3-cairo
####### RP2 ########
software-properties-common
curl 
tzdata
libgtk2.0-0 libxtst6
libwebkitgtk-3.0-0
python-pip
r-base
r-recommended
####### rp2paths ######
xz-utils
graphviz
openjdk-8-jre
openjdk-8-jdk
libxext6
libxrender-dev
###### selenzyme ####
libsm6
libxrender1

