#### RP2 #####
pandas
protobuf
python-graphviz
pydotplus
lxml
####### FBA ######
networkx==2.3
numpy
python-libsbml
cobra==0.16
timeout-decorator
#### equilibrator #####
scipy
openbabel
equilibrator-pathway==0.3.1
##### selenzyme #####
biopython==1.77
emboss
t-coffee
