git
#gcc-8-base
swig
software-properties-common
curl 
tzdata
libgtk2.0-0
libxtst6
#libwebkitgtk-3.0-0
r-base
r-recommended
####### rp2paths ######
xz-utils
graphviz
openjdk-8-jre
openjdk-8-jdk
libxext6
libxrender-dev
###### selenzyme ####
libsm6
libxrender1
###### RDkit ######
#libboost-iostreams1.65.1
#libboost-python1.65.1
#libboost-regex1.65.1
#libboost-serialization1.65.1
#libboost-system1.65.1
###### RQ Redis #####
supervisor
redis
redis-server
